
    <div class="content">
        <div class="title">
            <h1>Wonderful Night Sky</h1>
        </div>
        <div class="description">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut vel sint eum reiciendis soluta repudiandae, 
                ipsam alias error laudantium molestias accusantium natus optio vero ab consequatur placeat, expedita delectus quibusdam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iste reprehenderit reiciendis aut dolore quisquam eum, 
                quo facere dolores dignissimos sapiente eius doloremque ea, rem quidem nemo aliquid autem. Laborum!
                Lo
            </p>
        </div>
        <div class="option">
            <div class="btn-header"><a href="">Booking Now !!</a></div>
            <div class="btn-header"><a href="#.html">See more..</a></div>
        </div>
    </div>
