.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(4, 209, 42);
    padding: 30px;
}

.logo-img {
    width: 50%;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.menu-item {
    margin-left: 10px;
}
