<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Azim</title>
</head>
<body>
  <div class="slide-1">
    <div class="container">
        <app-header></app-header>
        <app-banner></app-banner>

    </div>
  </div>

      <app-gallery></app-gallery>
      <app-pbb></app-pbb>
      <app-todo></app-todo>

      
</body>
</html> -->

<!-- <app-menu></app-menu> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-3 mt-4"  *ngFor="let post of posts">
      <div class="card" style="width: 18rem;">
        <img [src]="post.url" class="card-img-top" alt="{{ post.url }}">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
</div> -->

<!-- <div class="app">
  <h2>{{ initialCount }}</h2>
  <button (click)="counting()">Klik Me</button>
  <app-counter [count]="initialCount"></app-counter>
</div> -->

<!-- <h1>App Component</h1>
<app-antrian
  [antrian]="antrian"
  (onAntrianBerubah)="onAntrianBerubah($event)"></app-antrian> -->

  <!-- <h1>Calculator</h1>
<app-calculator #calculator 
  [total]="0"
  (onJumlah)="onJumlah($event)"></app-calculator>

  <p>Total: {{ totalX }}</p>
  <p>{{ calculator.merkCalculator }}</p>
  <button (click)="calculator.getNumberEasy()">Click me !</button> -->

<div class="container">
  <h1>Halo </h1>
</div>

<ul>
  <li *ngFor="let post of postings">
  <h3>{{ post.title }}</h3>
  <p>{{ post.body }}</p>
</li>
</ul>

<!-- <pre>
  {{ postings |json }}
</pre> -->